:root {
    --main-bg: #160140;
    --main-color:#fff;
    --yellow-color: rgb(253, 183, 91);
}

body {
    font-family: Lato, Roboto, sans-serif;
    background-color: var(--main-bg);
    color: var(--main-color);
}

#wrapper {
    max-width: 800px;
    margin: auto;
    padding: 10px;
}

.title {
    color: var(--yellow-color);
    font-size: 2rem;
    text-align: center;
    text-decoration: underline;
}

main {
    position: relative;
    background-color: rgba(51, 51, 51, 0.438);
    display: flex;
    justify-content: center;
    padding: 10px 0px;
    margin-top: 10px;
    min-height: 300px;
}

main > #arena {
    display: grid;
    /* grid-template-columns: auto auto auto auto; */
    min-width: 300px;
    grid-gap: 10px;
}

main .box {
    background-color: #fff;
    transition: .3s all;
    cursor: pointer;
}

main .box.red {
    background-color: #ff5555;
}

main .box.blue {
    background-color: #24a0ed;
}

main .box.white:hover {
    box-shadow: 0px 0px 20px -5px #fff;
}

.button {
    border:0;
    background-color: var(--main-color);
    color: var(--main-bg);
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
    transition: .3s all;
    font-size: 15px;
    font-weight: bold;
}

.button:hover {
    /* opacity: 0.9; */
    box-shadow: 4px 5px 0px 0px rgba(255, 255, 255, 0.33)
}

.panel {
    justify-content: space-around;
}

#counter {
    background-color: var(--yellow-color);
    color: #000;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;
    transition: .3s all;
    border-radius: 5px;
    width: 50px;
    height: 25px;
}

.dropdown {
    background-color: #fff;
}

.options-menu {
    justify-content: space-around;
    width: 80%;
}

#notice {
    font-size: 20px;
    font-weight: bolder;
    color: #ff5555;
    transition: .3s all;
}

#result {
    font-size: 3rem;
    font-weight: 600;
    color: #000;
    text-shadow: 2px 2px #ff5555;
    margin-bottom: 10px;
}

#result.won {
    text-shadow: 2px 2px #24a0ed;
}

/* Generic CSS */

.flex {
    display: flex;
}

.modal {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(195, 189, 132, 0.541);
    transition: .3s all;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.hide {
    display: none;
}
